###
# SPDX-License-Identifier: AGPL-3.0
#
# Author: Bernd rederlechner <bernd.rederlechner@t-systems.com>
#
# Builds a stable release package based on a release assembly
# customisation-<version>-<increment>
#
# As soon as a package is deployed to production, the tag and the branch
# MUST STAY FOR 2 years and not deleted.
#
# Release packages, tags and customisation branches not delivered to production should
# be deleted asap a newer release is available.
#

name: MCLOUD custom client merge

on:
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        description: Branch to build a custom package from
        options: 
          - master
          - stable-4.0
          - stable-3.17
          - stable-3.16
          - stable-3.14
          - stable-3.13
        default: master

jobs:
  assemble-custom:
    uses: nextmcloud/.github/.github/workflows/nmc-custom-client.yml@master
    with:
      trunk: 'master'
      stable: ${{ inputs.branch }}
      result: ${{ format('customisation-{0}-{1}', github.actor, inputs.branch) }}
    secrets: inherit
